<div class="block mb-5">
    <div class="pb-5 flex flex-col">
        {{#each @model as |recipe| }}
            <LinkTo class="text-xl text-green-800 pb-1" @route="recipes.recipe" @model={{recipe.slug}}>
                {{recipe.title}}
            </LinkTo>
        {{/each}}
    </div>

    <BorderButton @link={{true}} @route="recipes.new">
        New recipe
    </BorderButton>
</div>