{{page-title "Dinnerplan"}}

<div class="min-h-screen">
    <div class="header">
        <nav class="bg-white py-3 md:py-4 h-20">
            <div class="container px-4 mx-auto md:flex md:items-center">
                <div class="flex justify-between items-center">
                    <LinkTo @route="home" class="font-bold text-xl text-green-700">DinnerPlan</LinkTo>
                    <button
                        class="border border-solid border-gray-700 px-3 py-1 rounded text-gray-700 opacity-50 hover:opacity-75 md:hidden"
                        id="navabr-toggle">
                        <FaIcon @icon="bars" />
                    </button>
                </div>

                <div class="hidden md:flex flex-col md:flex-row md:ml-auto mt-3 md:mt-0" id="navbar-collapse">
                    <LinkTo @route="login"
                        class="p-2 lg:px-4 md:mx-2 text-green-700 text-centerborder border border-transparent rounded hover:bg-green-100 transition-colors duration-300 mt-1 md:mt-0 md:ml-1">
                        Log In
                    </LinkTo>
                    <LinkTo @route="signup"
                        class="p-2 lg:px-4 md:mx-2 text-green-700 text-centerborder border border-solid border-green-700 rounded hover:bg-green-700 hover:text-white transition-colors duration-300 mt-1 md:mt-0 md:ml-1">
                        Sign Up
                    </LinkTo>
                </div>
            </div>
        </nav>
    </div>

    {{outlet}}
</div>