<div class="bg-transparent h-96 md:py-12 relative z-10 flex flex-col items-center justify-center">
    <div class="cotainer px-4 mx-auto">
        <div class="text-center text-green-600 max-w-2xl mx-auto p-5 bg-white rounded">
            <h1 class="text-3xl md:text-4xl font-bold mb-2">
                Welcome to DinnerPlan!
            </h1>
            <span class="text-xl md:text-2xl mb-2">A new home for your recipes.</span>
        </div>
    </div>
</div>

<img src='/assets/images/banner.jpg' class="object-cover w-full h-96 absolute top-20 z-0">