<div class="mock-login">
    <div class="mt-8">
        <h2 class="text-center text-2xl font-medium">
            Mock Login Page
        </h2>

        <div class="grid grid-cols-3">
            <div class="col-span-1 mx-2">
                <h4>
                    Username
                </h4>
                <input type="text" placeholder="username" name="" id="" class="border">
            </div>
            <div class="col-span-1">
                There
            </div>
            <div class="col-span-1">
                Again
            </div>
        </div>
    </div>
</div>